<div class=" relative max-w-screen-xl w-full m-auto py-28 text-center text-gray-900">
  <h1 class=" text-6xl tracking-wider font-extrabold">Responsive images made easy</h1>
  <span class=" text-xl leading-5 block"> Improve your load times and obtain amazing light house scores</span><br />
  <a mat-raised-button color="primary" class=" my-8" href="#upload">Get Started</a>

  <div class="-z-20 absolute top-16 right-16 bg-amber-500 p-5 rounded-full dynamic-animated">
  </div>
</div>

<div id="#upload" class="grid grid-cols-1 md:grid-cols-2 max-w-screen-lg w-full m-auto gap-5">

  <app-image-input class="bg-white text-lg shadow-all rounded " (newImageEvent)="syncFile($event)"></app-image-input>


  <form [formGroup]="optimizationConfig" class="flex flex-col justify-between py-2">

    <div class="grid grid-cols-2 gap-2">
      <!-- Image formats  -->
      <div>

        <section class="example-section">
          <h3>Choose image sizes </h3>
          <p>
            <mat-checkbox formControlName="250" name="image-sizes">250 px </mat-checkbox>
          </p>
          <p>
            <mat-checkbox formControlName="500" name="image-sizes">500 px </mat-checkbox>
          </p>
          <p>
            <mat-checkbox formControlName="750" name="image-sizes">750 px </mat-checkbox>
          </p>
          <p>
            <mat-checkbox formControlName="1000" name="image-sizes">1000 px </mat-checkbox>
          </p>
        </section>

      </div>

      <div>

        <section class="example-section">
          <h3>Choose image formats</h3>
          <p>
            <mat-checkbox formControlName="jpeg">jpeg</mat-checkbox>
          </p>
          <p>
            <mat-checkbox formControlName="webp">webp</mat-checkbox>
          </p>
          <p>
            <mat-checkbox formControlName="png">png</mat-checkbox>
          </p>
        </section>
      </div>

    </div>

    <button class="w-fit mx-auto" mat-raised-button color="primary" (click)="onSubmit($event)"
      [disabled]="file === null"> Optimize
    </button>

  </form>
</div>

<a class="m-auto block my-16 w-fit" mat-raised-button color="primary" [href]="zipUrl" [download]="zipName"
  [disabled]="zipId === '' "> Download optimized Image </a>

<div class=" w-full max-w-2xl m-auto">
  <app-responsive-image-snippet [snippetData]="getSnippetData()"> </app-responsive-image-snippet>
</div>